spring:
    profiles:
        active: dev # Altere para "dev" ao utilizar outro PC para acessar o banco H2, e para "test" ao usar o Docker Compose.
    application:
      name: vagasFatec

    datasource:
      url: ${SPRING_DATASOURCE_URL}
      username: ${SPRING_DATASOURCE_USERNAME}
      password: ${SPRING_DATASOURCE_PASSWORD}

    jpa:
      hibernate:
        ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:update}
      show-sql: true
